body {
    background-color: grey;
    font-family: Helvetica;

}

h1 {
    font-family: Helvetica;
    text-align: center;
    color: black;
    font-size: 50px;
}

form {
    font-size: 20px;
    text-align: left;
    position: absolute;
    left: 600px;
}

table th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

table td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}