<!DOCTYPE html>
<br>
<head lang="en">
    <meta charset="UTF-8">
    <title>TODO task management program</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
    <h1>TODO. task management program</h1>
    <table>

        <tr>
            <th>Task</th>
            <th>Status</th>
            <th>Deadline</th>
        </tr>

        {% for task in tasks %}

        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.deadline }}</td>
            <td><a href="/task_list/{{ task.key.id() }}/edit">Edit</a></td>
            <td><a href="/task_list/{{ task.key.id() }}/delete">Delete</a></td>
        </tr>

        {% endfor %}


    </table>
</body>
</html>