<!DOCTYPE html>
<br>
<head lang="en">
    <meta charset="UTF-8">
    <title>TODO task management program</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
    <h1>TODO. task management program</h1>

    <form method="post" action="/">
        <b>Task:</b><br>
        <br>
        <br>
        <textarea cols="100" rows="10" name="name" type="text">{{ task.name }}</textarea><br>
        <br>
        <b>Status:</b><br>
        <br>
        <input type="radio" name="status" value="{{ task.status }}"> completed<br>
        <input type="radio" name="status" value="{{ task.status }}"> uncompleted<br>
        <br>
        <b>Deadline:</b><br>
        <br>
        <input type="date" name="deadline" value="{{ task.deadline }}"/>
        <input type="submit" value="Submit" />
    </form>

</body>
</html>